*{
    background-color: yellow;
    color: #fff;
}

button{
    background-color: white;
    color: chocolate;
    font-family: Verdana, Tahoma, sans-serif; 
    border-radius: 50%;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}

img{
    border-radius: 70%; 
}